<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist attractions in Slovakia API</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="nav-bar">

        <button class="tablink" >
            <a class="nav-link" href="/">Home</a>
        </button>

        <button class="tablink" >
            <a class="nav-link" href="/about">About</a>
        </button>

        <button class="tablink" >
            <a class="nav-link" href="/doc">Documentation</a>
        </button>

    </div>
</body>