{% include "header.html" %}
<body>
    <div class="description">
        <h1>An API for managing tourist attractions in Slovakia.</h1>
        <h4>Allows developers to interact with a database to perform various operations such as searching, adding, updating, and removing tourist attractions.</h4>
        <h2>Here's a simple description of these functionalities:</h2>

        <h3>Add Attraction:</h3>
        <p>Users can use this functionality to add new tourist attractions to the database.
           They would submit the necessary information, including attraction name,
           location url address (Google Maps, etc...), region, nearest city and type (e.g., cultural, recreational), .
        </p>

        <h3>Search Attractions:</h3>
        <p>This feature enables users to search for tourist attractions in Slovakia based on various criteria such as location,
           type for example: <strong>historical sites, natural landmarks, region, city or name.</strong>
           The API would accept search parameters and return a list of matching attractions with relevant details.
        </p>

        <h3>Update Attraction:</h3>
        <p>This feature allows users to modify the details of existing tourist attractions.
           Users would provide the attraction's name along with the updated information, such as changed name,
           or location. The API would update the attraction accordingly.
        </p>

        <h3>Remove Attraction:</h3>
        <p>This functionality permits users to remove tourist attractions from the database.
           Users would specify the attraction's name,
           and the API would remove the corresponding attraction.
        </p>

        <p>More in: <strong><a class="link" href="/doc"> DOCUMENTATION</a></strong></p>
    </div>

</body>
